<?xml version="1.0"?>
<launch>

    <arg name="sim_mode" default="false" />

    <!-- ###### lidar_tracker euclidean_cluster ###### -->

    <arg name="points_node" default="/points_no_ground"/><!--CHANGE THIS TO READ WHETHER FROM VSCAN OR POINTS_RAW -->
    <arg name="remove_ground" default="false"/>
    <arg name="downsample_cloud" default="true"/> <!-- Apply VoxelGrid Filter with the value given by "leaf_size"-->
    <arg name="leaf_size" default="0.2"/><!-- Voxel Grid Filter leaf size-->
    <arg name="cluster_size_min" default="20"/><!-- Minimum number of points to consider a cluster as valid-->
    <arg name="cluster_size_max" default="100000"/><!-- Maximum number of points to allow inside a cluster-->
    <arg name="sync" default="false"/>
    <arg name="use_diffnormals" default="false"/>
    <arg name="pose_estimation" default="true"/>
    <arg name="clip_min_height" default="-1.3"/>
    <arg name="clip_max_height" default="0.0"/>

    <arg name="keep_lanes" default="false"/>
    <arg name="keep_lane_left_distance" default="5"/>
    <arg name="keep_lane_right_distance" default="5"/>
    <arg name="max_boundingbox_side" default="10"/>
    <arg name="cluster_merge_threshold" default="1.5"/>
    <arg name="clustering_distance" default="0.75"/>

    <arg name="use_vector_map" default="false"/>
    <arg name="vectormap_frame" default="map"/>
    <arg name="wayarea_gridmap_topic" default="grid_map_wayarea"/>
    <arg name="wayarea_gridmap_layer" default="wayarea"/>
    <arg name="wayarea_no_road_value" default="255"/>

    <arg name="output_frame" default="os1_lidar" />
    <arg name="remove_points_upto" default="0.0"/>

    <arg name="use_gpu" default="false"/>

    <arg name="use_multiple_thres" default="true"/>
    <arg name="clustering_ranges" default="[15,30,45,60]"/><!-- Distances to segment pointcloud -->
    <arg name="clustering_distances"
         default="[0.5,1.1,1.6,2.1,2.6]"/><!-- Euclidean Clustering threshold distance for each segment -->


    <!-- ###### lidar_kf_contour_track ###### -->

	<arg name="vehicle_width" default="1.85" />
	<arg name="vehicle_length" default="4.2" />	
	<arg name="min_object_size" default="0.1" />
	<arg name="max_object_size" default="10.0" />
	<arg name="polygon_quarters" default="16" />
	<arg name="polygon_resolution" default="0.5" />
	<arg name="tracking_type" default="2" /> <!-- 0 for association only, 1 for simple kf tracking, 2 for smart contour tracker -->
	<arg name="max_association_distance" default="2.0" />
	<arg name="max_association_size_diff" default="1.0" />
	
	<arg name="max_remeber_time" default="3" />
	<arg name="trust_counter" default="10" />
		
	<arg if="$(arg sim_mode)" name="enableSimulationMode" default="true" />
	<arg unless="$(arg sim_mode)" name="enableSimulationMode" default="false" />
	<arg name="enableStepByStepMode" default="false" />
	
	<arg name="vector_map_filter_distance" default="0" /> <!-- set 0 to disable vector map filtering  -->
	<arg name="enableLogging" default="false" />


   <!-- rosrun lidar_tracker euclidean_cluster _points_node:="" -->
    <node pkg="lidar_euclidean_cluster_detect" type="lidar_euclidean_cluster_detect"
          name="lidar_euclidean_cluster_detect" output="screen" respawn="true">
        <param name="points_node"
               value="$(arg points_node)"/> 
        <param name="remove_ground" value="$(arg remove_ground)"/>
        <param name="downsample_cloud" value="$(arg downsample_cloud)"/>
        <param name="leaf_size" value="$(arg leaf_size)"/>
        <param name="cluster_size_min" value="$(arg cluster_size_min)"/>
        <param name="cluster_size_max" value="$(arg cluster_size_max)"/>
        <param name="use_diffnormals" value="$(arg use_diffnormals)"/>
        <param name="pose_estimation" value="$(arg pose_estimation)"/>
        <param name="keep_lanes" value="$(arg keep_lanes)"/>
        <param name="keep_lane_left_distance" value="$(arg keep_lane_left_distance)"/>
        <param name="keep_lane_right_distance" value="$(arg keep_lane_right_distance)"/>
        <param name="max_boundingbox_side" value="$(arg max_boundingbox_side)"/>
        <param name="clip_min_height" value="$(arg clip_min_height)"/>
        <param name="clip_max_height" value="$(arg clip_max_height)"/>
        <param name="output_frame" value="$(arg output_frame)"/>
        <param name="use_vector_map" value="$(arg use_vector_map)"/>
        <param name="vectormap_frame" value="$(arg vectormap_frame)"/>
        <param name="wayarea_gridmap_topic" value="$(arg wayarea_gridmap_topic)"/>
        <param name="wayarea_gridmap_layer" value="$(arg wayarea_gridmap_layer)"/>
        <param name="wayarea_no_road_value" value="$(arg wayarea_no_road_value)"/>
        <param name="remove_points_upto" value="$(arg remove_points_upto)"/>
        <param name="clustering_distance" value="$(arg clustering_distance)"/>
        <param name="cluster_merge_threshold" value="$(arg cluster_merge_threshold)"/>
        <param name="use_gpu" value="$(arg use_gpu)"/>
        <param name="use_multiple_thres" value="$(arg use_multiple_thres)"/>
        <param name="clustering_ranges" value="$(arg clustering_ranges)"/>
        <param name="clustering_distances"
               value="$(arg clustering_distances)"/>

        <remap from="/points_raw" to="/sync_drivers/points_raw" if="$(arg sync)"/>
    </node>

    <node pkg="detected_objects_visualizer" type="visualize_detected_objects" name="cluster_detect_visualization_01"
          output="screen" ns="/detection/lidar_detector" />

    <node pkg="detected_objects_visualizer" type="visualize_detected_objects" name="cluster_detect_visualization_shape_estimation"
          output="screen" ns="/detection/shape_estimation" />

    <node pkg="detected_objects_visualizer" type="visualize_detected_objects" name="cluster_detect_visualization_l_shape_estimation"
          output="screen" ns="/detection/lidar_objects/l_shaped" />

    <node pkg="detected_objects_visualizer" type="visualize_detected_objects" name="cluster_detect_visualization_object_tracker"
          output="screen" ns="/tracked_objects" >
      <remap from="/detection/object_tracker/objects" to="/detection/object_tracker"/>
    </node>




   <!-- rosrun lidar_kf_contour_track -->
	<node pkg="lidar_kf_contour_track" type="lidar_kf_contour_track" name="lidar_kf_contour_track" output="screen" respawn="true">

    <param name="vehicle_width" value="$(arg vehicle_width)" />
		<param name="vehicle_length" value="$(arg vehicle_length)" />		
		<param name="min_object_size" value="$(arg min_object_size)" />
		<param name="max_object_size" value="$(arg max_object_size)" />
		<param name="polygon_quarters" value="$(arg polygon_quarters)" />
		<param name="polygon_resolution" value="$(arg polygon_resolution)" />
		<param name="tracking_type" value="$(arg tracking_type)" /> 
		<param name="max_association_distance" value="$(arg max_association_distance)" />
		<param name="max_association_size_diff" value="$(arg max_association_size_diff)" />
		
		<param name="max_remeber_time" value="$(arg max_remeber_time)" />
		<param name="trust_counter" value="$(arg trust_counter)" />		
		
		<param name="enableSimulationMode" value="$(arg enableSimulationMode)" />
		<param name="enableStepByStepMode" value="$(arg enableStepByStepMode)" />
			
		<param name="vector_map_filter_distance" value="$(arg vector_map_filter_distance)" />
		<param name="enableLogging" value="$(arg enableLogging)" />
		
    <!-- with remap curbs are not detected in simulation, so just remap if not in simulation -->
    <remap unless="$(arg sim_mode)" from="/cloud_clusters" to="/detection/lidar_detector/cloud_clusters"/>

  </node>

</launch>

